
<script>
    
    window.onload = function () {
        
        fadeIn();
        loadFooter();
    }

</script>





<div class="menuLine"></div>

<nav class="navbar navbar-default navbar-fixed-top" style="overflow-x: hidden;">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" href="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/" style=" opacity: 1; background-image: url('/images/'); background-size: contain; background-position: center; background-repeat: no-repeat;">Jeffrey</a>
        </div>
        
        <!-- Collect the nav links, forms, and other content for toggling -->
        <a href="/"><div class="jeffreyLogoNav" style=""></div></a>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            
            <ul class="nav navbar-nav navbar-right">
                
                <li id="navButton" class="buttonNav" style="" onclick="javascript:location.href='mailto:jobs@jeffrey-mail.de?Subject=Neue%20Bewerbung%20Jeffrey'">BEWERBEN</li>
            </ul>
            
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>



<div id="contentDiv" class="contentDiv" style="background-image: url('/images/background.jpg'); background-position: center;">




    
          <div id="div_1" class="divSection container-fluid bgCover" style="height: 100vh; background-color: rgba(255,255,255,0);">
              <div id="slogan" class="slogan">
                  <div class="downIcon bgCover" onclick="firstScroll();"></div>
              </div>
          </div>
          
          
          
          
          


          
          <div style="background-color: rgba(171,210,204,0.9); background-image: url('/images/city.jpg'); height: auto; width: 100vw;">
          <div class="divSection container-fluid bgCover" style="background-color: rgba(171,210,204,0.9);">
          
              <div class="row" style="width: 80vw; margin: auto;">
                  
                  <div class="col-xs-12" style="height: 15vh;"></div>
                  
                  <div class="col-xs-12 col-sm-4 centered" style="height: auto; background-color: clear;">
                      <img src="/images/sicherheit.png" alt="" class="" style="width: 130px; opacity: 0.9;">
                          <div class="underTitleWelcome" style="color: white; font-weight: bolder;">Sicherheit</div>
                  </div>
                  
                  <div class="col-xs-12 col-sm-4 centered" style="height: auto; background-color: clear;">
                      <img src="/images/qualitaet.png" alt="" class="" style="width: 130px; opacity: 0.9;">
                          <div class="underTitleWelcome" style="color: white; font-weight: bolder;">Qualität</div>
                  </div>
                  
                  <div class="col-xs-12 col-sm-4 centered" style="height: auto; background-color: clear;">
                      <img src="/images/kosten.png" alt="" class="" style="width: 130px; opacity: 0.9;">
                          <div class="underTitleWelcome" style="color: white; font-weight: bolder;">Transparenz</div>
                  </div>
                  
                  
                  <div class="col-xs-12" style="height: 20vh;"></div>
              </div>
          </div>
          </div>
          
          
          
          
          
          
          
           
           


          <div class="divSection container-fluid schatten" style="background-color: white; min-height: 90vh;">
              <div class="row">
                  <div class="col-xs-1 col-sm-4" style=""></div>
                  <div class="col-xs-10 col-sm-4" style="height: auto;">
                      <div class="logoFarbeGross bgCover" style=""></div>
                      <div class="titleAbout" style="top: 15vh; color: rgba(0,0,0,0.7); font-weight: bolder; font-size: 25px;">Werde Teil unseres jungen und innovativen Teams!</div>
                      <div class="subTitleAbout" style="top: 17vh; color: rgba(0,0,0,0.7); font-weight: bold;">Wir würden uns sehr freuen, wenn du noch heute schreibst, um einen persönlichen Vorstellungstermin zu vereinbaren!</div>
                      <a href="mailto:jobs@jeffrey-mail.de?Subject=Neue%20Bewerbung%20Jeffrey" target="_top" style="text-decoration: none;"><div class="buttonJetzt"> BEWIRB DICH JETZT </div></a>
                  </div>
                  <div class="col-xs-1 col-sm-4" style=""></div>
                  <div class="col-xs-12" style="height: 10vh;"></div>
              </div>
          </div>
          
          
          
          <div class="divSection container-fluid schatten bgCover" style="background-color: white; min-height: 60vh; background-image: url('/images/backgroundW.jpg');">
              
              <div class="row" style="background-color: rgba(255,255,255,0);">
                  <div class="titleBig" style="font-size: 22px; text-align: center; margin-top: 10vh; color: rgba(0,0,0,0.95);">Wir sind auf der Suche nach...</div>
                  <div class="hidden-xs col-sm-3"></div>
                  <div class="col-xs-12 col-sm-6" style="height: auto; background-color: clear; margin-top: 2vh;">
                      <div class="zentralerText" style="background-color: clear; color: rgba(0,0,0,0.95);">
                           ...engagierten Teammitgliedern als Haushaltsmanager. Berufserfahrungen in diesem Bereich sind wünschenswert, aber nicht zwingend erforderlich.
                          Wir bieten sowohl Festanstellungen (Midi-Jobs, Vollzeit) als auch Mini-Jobs und Arbeitsverhältnisse auf selbständiger Basis an.             </div>
                  </div>
                      
                      
                  <div class="col-xs-12" style="position: relative; height: 50vh;"></div>
              </div>
          </div>
          
          
         
          
          
          
          
          
         










