<!DOCTYPE html>
<html>
  <head>
    <title>Jeffrey</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/index.css' />
    <link rel='stylesheet' href='/stylesheets/theme.css' />
    <link rel="shortcut icon" href="/images/logoJK.png">
    <meta charset="utf-8" />
  </head>
  <body>
  
  
  
    {{{body}}}
    
    
    
    
    
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/javascripts/index.js"></script>
    <script src="/javascripts/switchery.js"></script>
  </body>
</html>
